@font-face {
   font-family: 'Lora Bold';
   src: url('../fonts/Lora-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Merriweather-LigthItalic';
   src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
